<div class="container">
	<div class="c-text-banner__wrapper" style="padding: 12px 0;">
        <br />
        <h2 class="c-text-banner__title c-fs-20" style="margin-bottom: 0px;" translate>WebShopTitleDescription</h2>
	</div>
</div>
<div class="c-service-composer" style="padding: 30px 0 10px;">
    <div class="container">
        <p class="c-service-composer__head" style="margin-bottom: 24px;"><span translate>WebShopTitle </span><span translate>HomeTitle</span></p>
        <div class="c-service-composer__wrapper">
            <div class="c-service-composer__left">
                <ul class="c-service-composer__list">
                    <li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>Security/Role-basedAuthorization</b></span>
						<br />
						<div translate>
							Security/Role-basedauthorizationDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>CustomerManagement</b></span>
						<br />
						<div translate>
							CustomerManagementDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>SellerManagement</b></span>
						<br />
						<div translate>
							SellerManagementDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>ProductManagement</b></span>
						<br />
						<div translate>
							ProductManagementDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>ShoppingCartManagement</b></span>
						<br />
						<div translate>
							ShoppingCartManagementDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>ShipperManagement</b></span>
						<br />
						<div translate>
							ShipperManagementDescription
						</div>
						<br/>
					</li><li>
						<img src="themes/images/{{coreSessionService.getTheme()['Value'] ? coreSessionService.getSelectedTheme()['Value'] :''}}right-arrow.png" class="c-service-composer__arrow">
						<span class="c-feature-header-item"><b translate>OrderManagement</b></span>
						<br />
						<div translate>
							OrderManagementDescription
						</div>
						<br/>
					</li>
                </ul>
            </div>
            <div class="c-service-composer__right">
                <img src="themes/images/home-page-banner.png" style="width: 100%">
            </div>
        </div>
    </div>
</div>

